param (
    [Parameter(Position = 0)]
    [string] $PAT 
)


$prevPwd = $PWD; Set-Location -ErrorAction Stop -LiteralPath $PSScriptRoot

docker build ./.. -t apetitoebusinesssolutions.azurecr.io/meinapetito-portal-api -f Dockerfile --build-arg PAT=$PAT

docker tag apetitoebusinesssolutions.azurecr.io/meinapetito-portal-api apetitoebusinesssolutions.azurecr.io/meinapetito-portal-api:<Tag>
docker push apetitoebusinesssolutions.azurecr.io/meinapetito-portal-api:<Tag>

$prevPwd | Set-Location